<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/style.css}">
    <title>Todo App</title>
</head>
<header>
    <nav class="navbar navbar-expand-lg bg-nav rounded">

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <!--                <li class="nav-item col-md-4">-->
                <!--                    <span th:text="${@loggedUser.username}"></span>-->
                <!--                </li>-->
                <li th:unless="${@loggedUser.isLogged()}" class="nav-item col-md-4">
                    <a class="nav-link active h5 my-text-color" th:href="@{/login}">Login</a>
                </li>

                <li th:unless="${@loggedUser.isLogged()}" class="nav-item col-md-4">
                    <a class="nav-link my-text-color active h5 " th:href="@{/register}">Register</a>
                </li>

                <li th:if="${@loggedUser.isLogged()}" class="nav-item col-md-4">
                    <form th:action="@{/logout}" th:method="POST">
                        <button type="submit" class="btn-link nav-link my-text-color active h5 logout">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
<body>

</body>
</html>