<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <title>Todo List</title>
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-2">
            <p>
                <a class="btn btn-outline-success" href="../">
                    <i class="bi bi-arrow-left-square-fill">Back</i>
                </a>
            </p>
        </div>
        <div class="col-6">
            <h2>Edit Todo Item</h2>
            <hr />
            <form class="row g-3" action="#" th:action="@{/todo/{id}(id=${todo.id})}" th:object="${todo}" method="POST">
                <div class="form-group">
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input class="form-control"
                               type="text"
                               th:field="*{description}"
                               id="description"
                               placeholder="Description">
                    </div>
                    <div class="mb-3 form-check">
                        <input class="form-check-input"
                            type="checkbox"
                            id="inputIsComplete"
                            th:field="*{completed}"
                            th:checked="${completed} == true">
                        <label class="form-check-label" for="inputIsComplete">
                            Completed?
                        </label>
                    </div>

                    <input type="hidden" th:field="*{createDate}" />
                    <input type="hidden" th:field="*{modifyDate}" />

                    <button type="submit" class="btn btn-outline-success">
                        <i class="bi bi-plus-square-fill"></i>Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>