<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}"></head>

<body>
    <header th:replace="~{fragments/commons::nav}"></header>

    <div class="container text-center">
        <h1>TODO APPLICATION</h1>
        <hr class="my-3"/>

        <p class="h4">
            Todo App is designed to help individuals and teams manage their workflow efficiently.
            It allows users to create list of tasks they need to complete or things that they want to do. 
            <br>
            The App offers features such as the ability to set due dates, add description or comments,
            and assign tasks. It incorporates different priorities of the tasks,
            such as "Urgent" "Important" and "Low". The application provides real-time collaboration, enabling team members to work together more
            efficiently and effectively.</p>
        <hr class="my-3"/>

        <h3>
            <a class="text-primary" th:href="@{/login}">Login</a>
            if you have an account or
            <a class="text-primary" th:href="@{/register}">Register</a>
            now and check our deals.
        </h3>
    </div>
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>

</html>