<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>

<body>
<header th:replace="~{fragments/commons::nav}"></header>
<div class="container">
    <div class="row mt-5">
        <div class="col-2">
            <p>
                <a class="btn btn-outline-success" href="../home">
                    <i class="bi bi-arrow-left-square-fill">Back</i>
                </a>
            </p>
        </div>
        <div class="col-6">
            <h2 class="mb-4">Add a new Todo Item</h2>
            <form th:action="@{/todo/add}" th:object="${todoItemDTO}" th:method="POST">
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input class="form-control"
                           type="text"
                           th:field="*{description}"
                           id="description"
                           placeholder="Description">
                </div>
                <button type="submit" class="btn btn-outline-success">
                    <i class="bi bi-plus-square-fill"></i>Add Todo
                </button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>